/* Estilos para el contenedor principal */
.padre {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto; /* Margen automático en los lados */
}

/* Estilos para la imagen */
.tamaño-imagen {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  margin-left: 20px;
}

/* Estilos para la imagen de perfil */
.estilo-profile {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 20px auto; /* Margen superior e inferior automático */
}

/* Estilos para la caja de texto */
.cajatexto {
  background-color: #cccccc40;
  border: none;
  border-radius: 30px;
  width: calc(100% - 100px); /* Ancho relativo */
  padding: 15px;
  margin: 20px 50px 20px 50px; /* Margen superior, derecho, inferior e izquierdo */
}

/* Estilos para el botón */
.btnform {
  background-color: #0d6efd;
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  color: white;
}

/* Estilos para el botón de mostrar contraseña */
.show-password-btn {
  font-size: 0.875rem;
  padding: 0;
  margin: 10px 0 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  text-decoration: underline;
  width: 100%;
  text-align: right;
}

/* Estilos para el enfoque de la caja de texto */
.cajatexto:focus {
  outline: 1px solid rgb(119, 240, 179);
  box-shadow: 0 0 18px rgb(119, 240, 179);
}

/* Estilos para el botón de mostrar contraseña */
.show-password-btn {
  font-size: 0.875rem;
  padding: 0;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  text-decoration: underline;
  width: 100%;
  text-align: right;
}

/* Estilos para el enfoque de la caja de texto */
.cajatexto:focus {
  outline: 1px solid rgb(119, 240, 179);
  box-shadow: 0 0 18px rgb(119, 240, 179);
}

.cajatexto {
  color: black;
}

/*Responsividad*/
@media (max-width: 768px) {
  .row {
      flex-direction: column; 
  }
  .col-md-4 {
      width: 100%; 
  }
  .tamaño-imagen {
      max-width: 100%;
      margin-left: 0; 
  }
}
